#container {
    border: 1px dashed purple;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

.calendar {
   border: 1px solid green;
   display: flex;
   flex-direction: column;
   padding: 20px;
 }
 .grid{
    border: 1px dashed orange; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
}

.daysOfWeek {
    border: 1px dashed blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-direction: row;
   }

   .nameOfDay{
    border: 1px solid black;
    display: flex;
    width: 10em;
    justify-content: center;
    align-items: center;
    padding: 20px;

   }

   
.daysGrid {
    border: 1px dashed red;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.daysWeek {
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
}


.day {
    border: 1px solid black;
    display: flex;
    width: 10em;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.dayAnotherMonth {
   color: lightgrey;
}
.currentDay {
    color: green;
    font-weight: bold;
}

.weekendDay {
     color: red;
}




.navigator {
    border: 1px dashed lightBlue; 
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: stretch;
   padding: 20px;
 }

 

.leftArrow, .rightArrow{
   border: 1px solid black;
   display: flex;
   flex-direction: column;
   
   
   padding: 20px;
 }

.currentMonth {
   border: 1px solid black;
   display: flex;
   flex-basis: 100%;
   justify-content: center;
   padding: 20px;
 }



#monday,#tuesday,#wednesday,#thursday,#friday,#saturday,#sunday{
   border: 1px solid yellowgreen;
   display: flex;
   justify-content: center;
   flex-basis: 100%;
   padding: 20px;
 }



.emptyDaysBlock{
    border: 1px solid #FFFFFF;
    display: flex;
    /*flex-basis: 100%;*/
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}
